html, body, .App {
  width : 100%;
  height : 100%;
  padding : 0;
  margin : 0;
  border : 0;
}

.App {
  display : flex;
  flex-direction: row;
}

.App .row {
  display : flex;
  flex-direction: row;
  flex-grow : 1;
  width : 0;
}

.App .row .output, .App .row .field {
  flex-grow : 1;
  width : 0;
}

.App .row .field input {
  width : 100%;
  box-sizing: border-box;
}
