.App {
  display : flex;
  flex-direction: row;
  border : 1px solid black;
  box-sizing: border-box;
}

.App .row {
  display : flex;
  flex-direction: row;
  flex-grow : 1;
  width : 0;
}

.App .row .output, .App .row .field {
  flex-grow : 1;
  width : 0;
}

.App .row .field input {
  width : 100%;
  box-sizing: border-box;
}

@media only screen and (max-width: 720px) {
  .App .row {
    flex-direction: column;
  }
  .App .row .output, .App .row .field {
    flex-grow: initial;
    width : 100%;
  }
}

@media only screen and (max-width: 360px) {
  .App {
    flex-direction: column;
  }
  .App .row {
    flex-grow: initial;
    width : 100%;
  }
}
